/JogoAapp-master/JogadoresLiga/nbproject/private/
/JogoAapp-master/JogadoresLiga/build/
/JogadoresLiga - Antigo/build/
/JogadoresLiga - Antigo/nbproject/private/
/JogoAapp-master - Atual/JogadoresLiga/build/
/JogoAapp-master - Atual/JogadoresLiga/nbproject/private/